    <!-- ******PROJECTS****** --> 
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center">I'm Currently Working On</h2>
                <div class="block">
                    <h3 class="sub-title text-center">AI Programming with Python Nano Degree</h3>
                    <p>The <a href="https://www.udacity.com/course/ai-programming-python-nanodegree--nd089" target="_blank">Udacity</a> Nano degree is the perfect follow on for my thirst for education.</p>
                    <ul class="list-unstyled">
                        <li><strong>Time to complete:</strong> 3 - 4 months</li>
                        <li><strong>Cost:</strong> $399</li>
                        <li><strong>Modules:</strong> Intro to Python, Neural Networks, Python Data Science with NumPy, Pandas, and Matplotlib, Linear Algebra</li>
                    </ul>
                    <p>By the time I'm done I will have built my own neural network and taught my image classifier to recognize different breeds of dogs. I'm very excited!</p>
                </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//project_list->
