    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Skills</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i>Certified PMP</li>
                <li><i class="fa fa-check"></i>Team Leadership</li>
                <li><i class="fa fa-check"></i>Lean 6&sigma;</li>
                <li><i class="fa fa-check"></i>Agile Project Management</li>
                <li><i class="fa fa-check"></i>Programming (Ruby, RoR, JavaScript, and now Python)</li>
                <li><i class="fa fa-check"></i>DevOps</li>
                <li><i class="fa fa-check"></i>Business Process Improvement</li>
                <li><i class="fa fa-check"></i>Change Management</li>
                <li><i class="fa fa-check"></i>Basic French & Basic Spanish</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
